.\#*
\#*\#
blib*
_build
.build
Build
cover_db*
Debian_CPANTS.txt
foo
GeoIP2-*
Makefile
Makefile.old
Makefile.PL
MANIFEST
META.yml
MYMETA.json
MYMETA.yml
perltidy.LOG
pm_to_blib*
pod2htmd.tmp
README
*.sw*
.tidyall.d
